# Dictionary
 * Dictionary is a mutable data type in Python. 
 * A python dictionary is a collection of key and value pairs s eparated by a colon (:) & enclosed in curly braces {}. 
 * Keys must be unique in a dictionary, duplicate values are allowed.

# Create Dictionary

In [1]:
mydict = dict() # empty dictionary
mydict

{}

In [2]:
mydict = {} # empty dictionary
mydict

{}

In [3]:
mydict = {1:'one' , 2:'two' , 3:'three'} # dictionary with integer keys
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [4]:
mydict = dict({1:'one' , 2:'two' , 3:'three'}) 
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [5]:

mydict = {'A':'one' , 'B':'two' , 'C':'three'} # dictionary with character keys 
mydict

{'A': 'one', 'B': 'two', 'C': 'three'}

In [6]:

mydict = {1:'one' , 'A':'two' , 3:'three'} # dictionary with mixed keys 
mydict

{1: 'one', 'A': 'two', 3: 'three'}

In [7]:

mydict.keys() # Return Dictionary Keys using keys() method

dict_keys([1, 'A', 3])

In [8]:

mydict.values() # Return Dictionary Values using values() method

dict_values(['one', 'two', 'three'])

In [9]:

mydict.items() # Access each key-value pair within a dictionary

dict_items([(1, 'one'), ('A', 'two'), (3, 'three')])

In [10]:

mydict = {1:'one' , 2:'two' , 'A':['vaishu' , 'Abhi' , 'Avi']} # dictionary with 
mydict

{1: 'one', 2: 'two', 'A': ['vaishu', 'Abhi', 'Avi']}

In [11]:

mydict = {1:'one' , 2:'two' , 'A':['vaishu' , 'Abhi' , 'Avi'], 'B':('Bat' , 'cat','rat')} # dictionary with
mydict

{1: 'one',
 2: 'two',
 'A': ['vaishu', 'Abhi', 'Avi'],
 'B': ('Bat', 'cat', 'rat')}

In [12]:

mydict = {1:'one' , 2:'two' , 'A':{'Name':'vaishu' , 'Age' :20}, 'B':('Bat' , 'cat','hat')} # dictionary with 
mydict

{1: 'one',
 2: 'two',
 'A': {'Name': 'vaishu', 'Age': 20},
 'B': ('Bat', 'cat', 'hat')}

In [13]:

keys = {'a' , 'b' , 'c' , 'd'} 
mydict3 = dict.fromkeys(keys) # Create a dictionary from a sequence of keys 
mydict3

{'b': None, 'a': None, 'c': None, 'd': None}

In [14]:
keys = {'a' , 'b' , 'c' , 'd'} 
value = 10 
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of 
mydict3

{'b': 10, 'a': 10, 'c': 10, 'd': 10}

In [15]:
keys = {'a' , 'b' , 'c' , 'd'} 
value = [10,20,30] 
mydict3 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of 
mydict3

{'b': [10, 20, 30], 'a': [10, 20, 30], 'c': [10, 20, 30], 'd': [10, 20, 30]}

In [16]:
value.append(40) 
mydict3

{'b': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'c': [10, 20, 30, 40],
 'd': [10, 20, 30, 40]}

# Accessing items

In [17]:

mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'} 
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [18]:
mydict[1] # Access item using key

'one'

In [19]:

mydict.get(1) # Access item using get() method

'one'

In [20]:
 
mydict1 = {'Name':'vaishu' , 'ID': 74123 , 'DOB': 2003 , 'job' :'Analyst'} 
mydict1

{'Name': 'vaishu', 'ID': 74123, 'DOB': 2003, 'job': 'Analyst'}

In [21]:

mydict1['Name'] # Access item using key

'vaishu'

In [22]:

mydict1.get('job') # Access item using get() method

'Analyst'

# Add, Remove & Change items

In [23]:

mydict1 = {'Name':'vaishu' , 'ID': 12345 , 'DOB': 2003 , 'Address' : 'India'} 
mydict1

{'Name': 'vaishu', 'ID': 12345, 'DOB': 2003, 'Address': 'India'}

In [24]:

mydict1['DOB'] = 2003 # Changing Dictionary Items 
mydict1['Address'] = 'Bangalore' 
mydict1

{'Name': 'vaishu', 'ID': 12345, 'DOB': 2003, 'Address': 'Bangalore'}

In [25]:

dict1 = {'DOB':2003} 
mydict1.update(dict1) 
mydict1

{'Name': 'vaishu', 'ID': 12345, 'DOB': 2003, 'Address': 'Bangalore'}

In [26]:

mydict1['Job'] = 'Analyst' # Adding items in the dictionary 
mydict1

{'Name': 'vaishu',
 'ID': 12345,
 'DOB': 2003,
 'Address': 'Bangalore',
 'Job': 'Analyst'}

In [27]:

mydict1.pop('Job') # Removing items in the dictionary using Pop method 
mydict1

{'Name': 'vaishu', 'ID': 12345, 'DOB': 2003, 'Address': 'Bangalore'}

In [28]:

mydict1.popitem() # A random item is removed

('Address', 'Bangalore')

In [29]:
mydict1

{'Name': 'vaishu', 'ID': 12345, 'DOB': 2003}

In [30]:

del[mydict1['ID']] # Removing item using del method 
mydict1

{'Name': 'vaishu', 'DOB': 2003}

In [31]:
 
mydict1.clear() # Delete all items of the dictionary using clear method 
mydict1

{}

In [32]:
 
del mydict1 # Delete the dictionary object 
mydict1

NameError: name 'mydict1' is not defined

# Copy Dictionary

In [ ]:

mydict = {'Name':'vaishu' , 'ID': 12345 , 'DOB': 2003 , 'Address' : 'India'} 
mydict

{'Name': 'vaishu', 'ID': 12345, 'DOB': 2003, 'Address': 'India'}

In [ ]:
mydict1 = mydict # Create a new reference "mydict1"

In [ ]:
id(mydict) , id(mydict1) # The address of both mydict & mydict1 will be the same

(2495317932096, 2495317932096)

In [ ]:
 mydict2 = mydict.copy() # Create a copy of the dictionary

In [ ]:
id(mydict2) # The address of mydict2 will be different from mydict because mydic

2495318304448

In [ ]:
mydict['Address'] =  'Mumbai' # Changing the value of mydict
mydict

{'Name': 'vaishu', 'ID': 12345, 'DOB': 2003, 'Address': 'Mumbai'}

In [ ]:
mydict1 #mydict1 will also be changed because it is a reference to mydict

{'Name': 'vaishu', 'ID': 12345, 'DOB': 2003, 'Address': 'Mumbai'}

In [ ]:
mydict2 # copy of list will not be changed because it is a copy of mydict

{'Name': 'vaishu', 'ID': 12345, 'DOB': 2003, 'Address': 'India'}

# Loop through a Dictionary

In [ ]:
mydict1 = {'Name':'vaishu' , 'ID': 12345 , 'DOB': 2003 , 'Address' : 'India'} 
mydict1

{'Name': 'vaishu', 'ID': 12345, 'DOB': 2003, 'Address': 'India'}

In [ ]:

for i in mydict1: 
    print(i , ':' , mydict1[i]) # Key & value pair

Name : vaishu
ID : 12345
DOB : 2003
Address : India

In [ ]:
for i in mydict1: 
    print(mydict1[i]) # Dictionary items

vaishu
12345
2003
India

# Dictionary Membership

In [33]:
mydict1 = {'Name':'vaishu' , 'ID': 12345 , 'DOB': 2003 , 'Address' : 'India', 'job' : 'Analyst'}
mydict1

{'Name': 'vaishu',
 'ID': 12345,
 'DOB': 2003,
 'Address': 'India',
 'job': 'Analyst'}

In [34]:
'Name' in mydict1 # Test if key is present in the dictionary or not

True

In [35]:
'vaishu' in mydict1 # Membership test for value in dictionary

False

In [36]:
'ID' in mydict1

True

In [37]:
'Address' in mydict1

True

# All / Any
 The all() method returns: 
 * True - If all all keys of the dictionary are true 
 * False - If any key of the dictionary is false 
 
The any() function returns True if any key of the dictionary is True. If not, any() returns False.

In [39]:
mydict1 = {'Name':'vaishu' , 'ID': 12345 , 'DOB': 2003 , 'Address' : 'India', 'job' : 'Analyst'}
mydict1

{'Name': 'vaishu',
 'ID': 12345,
 'DOB': 2003,
 'Address': 'India',
 'job': 'Analyst'}

In [40]:
all(mydict1) # will return True if all keys are true

True