# Datastructure - user will define the value more then one
* list
* tuple
* set
* dict

In [ ]:
# list []

In [ ]:
l = []
l

[]

In [ ]:
len(l)

0

In [119]:
l.append(10)
l

[10]

In [120]:
len(l)

1

In [121]:
l.append(20)
l.append(30)
l.append(40)
l.append(40)

In [122]:
l

[10, 20, 30, 40, 40]

In [123]:
len(l)

5

In [124]:
l

[10, 20, 30, 40, 40]

In [125]:
id(l)

1264154374272

In [126]:
print(type(l))

<class 'list'>

In [127]:
a = True
type(a)

bool

In [128]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [129]:
len(keyword.kwlist)

35

In [130]:
l

[10, 20, 30, 40, 40]

In [131]:
l[:]

[10, 20, 30, 40, 40]

In [132]:
l[0]

10

In [133]:
l[1]

20

In [134]:
l[-3]

30

In [135]:
l

[10, 20, 30, 40, 40]

In [136]:
l1 = l.copy()
l1

[10, 20, 30, 40, 40]

In [137]:
l ==l1

True

In [138]:
print(len(l))
print(len(l1))

5
5

In [139]:
l1

[10, 20, 30, 40, 40]

In [140]:
l1.append(2.3)
l1.append(True)
l1.append(1+2j)

In [141]:
l1

[10, 20, 30, 40, 40, 2.3, True, (1+2j)]

In [142]:
l1.append(50)
l1

[10, 20, 30, 40, 40, 2.3, True, (1+2j), 50]

In [143]:
l.count(10)

1

In [144]:
l.count(40)

2

In [145]:
l

[10, 20, 30, 40, 40]

In [146]:
l.count(100)

0

In [147]:
l

[10, 20, 30, 40, 40]

In [148]:
l1

[10, 20, 30, 40, 40, 2.3, True, (1+2j), 50]

In [149]:
l2 = l1.copy()
l2

[10, 20, 30, 40, 40, 2.3, True, (1+2j), 50]

In [150]:
l2.remove(True)

In [151]:
l2

[10, 20, 30, 40, 40, 2.3, (1+2j), 50]

In [152]:
l2.remove(1+2j)

In [153]:
l2

[10, 20, 30, 40, 40, 2.3, 50]

In [154]:
l2.clear()

In [155]:
l2

[]

In [156]:
del l2

In [157]:
l2

NameError: name 'l2' is not defined

In [ ]:
l1

[10, 20, 30, 40, 40, 2.3, True, (1+2j), 50]

# List creation

In [ ]:
list1 = [] # empty list

In [ ]:
print(type(list))

<class 'type'>

In [ ]:
list2 =[10,30,60] # list of intergers numbers
list2

[10, 30, 60]

In [ ]:
list3 = [10.77, 30.66,60.89] # list of float numbers
list3

[10.77, 30.66, 60.89]

In [ ]:
list4 = ['one','two',"three"] # list o strings
list4

['one', 'two', 'three']

In [ ]:
list5 = ['Asif',25,[50,100],[150,90]] # Nested lists
list5

['Asif', 25, [50, 100], [150, 90]]

In [ ]:
list6 = [100,'Asi',17.765] # list of mixed data type
list6

[100, 'Asi', 17.765]

In [ ]:
list7 = ['Asif',25,[50,100],[150,90],{'John','David'}]
list7

['Asif', 25, [50, 100], [150, 90], {'David', 'John'}]

In [ ]:
len(list6) #Length of list

3

# List indexing

In [ ]:
list2[0] # Retreive first element of the list

10

In [ ]:
list4[0] # Retreive first element o the list

'one'

In [ ]:
list4[0][0] # Nested indexing - Access the character of the first list element

'o'

In [ ]:
list4[-1] # last item o the list

'three'

In [ ]:
list5[-1] # last item of the list

[150, 90]

# List Slicing

In [ ]:
mylist = ['one','two','three','four','five','six','seven','eight']

In [ ]:
mylist[0:3] # return all item rom 0th to 3rd index location excluding the item

['one', 'two', 'three']

In [ ]:
mylist[2:5] # list all item from 2nd to 5 th index location excluding the item a

['three', 'four', 'five']

In [ ]:
mylist[:3] # return irst three iters

['one', 'two', 'three']

In [ ]:
mylist[:2] # return irst two items

['one', 'two']

In [ ]:
mylist[-3:] # return last three items

['six', 'seven', 'eight']

In [ ]:
mylist[-2:] # return last two items

['seven', 'eight']

In [ ]:
mylist[-1] # return last item

'eight'

In [ ]:
mylist[:] # Return whole list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

# Add, Remove & Change items

In [ ]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
mylist.append('nine') #Add an  item to the end of the list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [ ]:
mylist.insert(9, 'ten') # Add item at index location 9
mylist

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten',
 'nine']

In [ ]:
mylist.insert(1,'ONE') # Add item at index location 1
mylist

['one',
 'ONE',
 'ONE',
 'ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten',
 'nine']

In [ ]:
mylist.remove('ONE') # remove item "ONE"
mylist

['one',
 'ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten',
 'nine']

In [ ]:
mylist.pop() # remove last item of the list
mylist

['one',
 'ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [ ]:
mylist.pop(8) # Remove item at index location 8
mylist

['one', 'ONE', 'two', 'three', 'four', 'five', 'six', 'seven', 'nine', 'ten']

In [ ]:
del mylist[7] # Remove item at index location 7
mylist

['one', 'ONE', 'two', 'three', 'four', 'five', 'six', 'nine', 'ten']

In [ ]:
# Change value of the string
mylist[0] = 1
mylist[1] = 2
mylist[3] = 3
mylist

[1, 2, 'two', 3, 'four', 'five', 'six', 'nine', 'ten']

In [ ]:
mylist.clear() # Empty list / remove all items
mylist

[]

In [158]:
del mylist # Delete the whole  list
mylist

NameError: name 'mylist' is not defined

# Copy List

In [ ]:
mylist = ['one','two','three','four','ive','six','seven','eight', 'nine']

In [ ]:
mylist1 = mylist # Create a new reference "mylist"

In [ ]:
id(mylist), id(mylist1) # The address of both mylist & mylist1 will be the same

(2691280663616, 2691280663616)

In [ ]:
mylist2 = mylist.copy() # Create a copy of list

In [ ]:
id(mylist2) # The address of mylist2 will be different from mylist because mylist

2691279687808

In [ ]:
mylist[0] = 1
mylist

[1, 'two', 'three', 'four', 'ive', 'six', 'seven', 'eight', 'nine']

In [ ]:
mylist # mylist will be also imported as  it is pointing to the same list

[1, 'two', 'three', 'four', 'ive', 'six', 'seven', 'eight', 'nine']

In [ ]:
mylist1 # mylist1 will be also imported as it is pointing to the same list

[1, 'two', 'three', 'four', 'ive', 'six', 'seven', 'eight', 'nine']

In [ ]:
mylist2 #copy of last won't impacted due to change made on the original list

['one', 'two', 'three', 'four', 'ive', 'six', 'seven', 'eight', 'nine']

# Jion lists

In [163]:
list1 = ['one','two','three','four']
list2 = ['five','six','seven','eight']

In [164]:
list3 = list1 + list2 # join two lists by '+' operator
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [165]:
list1.extend(list2) #Append list2 with list1
list1

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [166]:
list1.extend(list2) # Append list2 with list1
list1

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'five',
 'six',
 'seven',
 'eight']

# List Membership

In [167]:
list1

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'five',
 'six',
 'seven',
 'eight']

In [168]:
'one' in list1 # check if 'one' exist in the list

True

In [169]:
'ten' in list1 # check if 'ten' exist in the list

False

In [170]:
if 'three' in list1: # Check if 'three exist in the list
    print('Three is present in the list')
else:
    print('Three is not present in the list')

Three is present in the list

In [171]:
if 'eleven' in list1: # Check  if 'eleven' exist in the list
    print('eleven is present in the list')
else:
    print('eleven is not present in the list')

eleven is not present in the list

# Reverse & Sort List

In [172]:
list1

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'five',
 'six',
 'seven',
 'eight']

In [173]:
list1.reverse() # Reverse the list
list1

['eight',
 'seven',
 'six',
 'five',
 'eight',
 'seven',
 'six',
 'five',
 'four',
 'three',
 'two',
 'one']

In [174]:
list1 = list1[::-1] # Reverse the list
list1

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'five',
 'six',
 'seven',
 'eight']

In [175]:
mylist3 = [9,5,2,99,12,88,34] 
mylist3.sort() # sort list in ascending order
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [176]:
mylist3 = [9,5,2,99,12,88,34]
mylist3.sort(reverse = True) # sort list in descreding ored
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [177]:
mylist4 = [88,65,33,21,11,98]
sorted(mylist4) # Return a sorted list and doesn't change original list

[11, 21, 33, 65, 88, 98]

In [178]:
mylist4

[88, 65, 33, 21, 11, 98]

# Loop through a list

In [179]:
list1

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'five',
 'six',
 'seven',
 'eight']

In [180]:
for i in list1:
    print(i)

one
two
three
four
five
six
seven
eight
five
six
seven
eight

In [181]:
for i in enumerate(list1):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')
(8, 'five')
(9, 'six')
(10, 'seven')
(11, 'eight')

# Count

In [182]:
list10 = ['one','two','three','four','one','one','two','three']

In [183]:
list10.count('one') # Number of time item "one" occurred in the list

3

In [184]:
list10.count('two') # occurence of item 'two' in the list

2

In [185]:
list10.count('four') # occurence of item 'four' in the list

1

# All / Any 
* The all() methode returns:
  * True - if all elements in a list are true
  * False - if any elements in a list is false
* the any() function True if any element in the list is True . if not. any() returns False.

In [186]:
L1 = [1,2,3,4,5]

In [187]:
all(L1) # will return false as one value is false (value 0)

True

In [188]:
any(L1) # will return True as we have items in the list with True value

True

In [189]:
L2 = [1,2,3,4,True,False]

In [190]:
all(L2) # Retuns false as one value is false

False

In [191]:
any(L2) # will return True as all items in the list are True

True