# PYTHON OPERATOR

# 1- ARITHMETIC OPERATOR ( + , -, *, /, %, %%, **, ^
# 2- ASSIGNMEN OPERATOR (=)
# 3- RELATIONAL OPERATOR
# 4- LOGICAL OPERATOR
# 5- UNARY OPERATOR
![image.png](attachment:image.png)

# 1. Arithmatic Operator

In [73]:
print('Addition:',1+2)

Addition: 3

In [74]:
print('Subtraction:',2-1)

Subtraction: 1

In [75]:
print('Multiplication:',2*3)

Multiplication: 6

In [76]:
print('Division:',4/2)  #Division in python gives floating number

Division: 2.0

In [77]:
print('Division:',6/2)

Division: 3.0

In [78]:
print('Division:',7/2)

Division: 3.5

In [79]:
print('Division without the remainder:',7//2) # gives without the loating number or without the remaining

Division without the remainder: 3

In [80]:
print('Modulus:',3%2)   # gives the remainder

Modulus: 1

In [81]:
print('Division without the remainder:', 7//3)

Division without the remainder: 2

In [82]:
print('Exponential:',3**2) # it means 3*3

Exponential: 9

In [83]:
# Floating number

In [84]:
print('Floating Number,PI', 3.14)

Floating Number,PI 3.14

In [85]:
print('Floating Number,gravity',9.81)

Floating Number,gravity 9.81

In [86]:
# Complex numbers

In [87]:
print('Complex number:',1+1j)

Complex number: (1+1j)

In [88]:
print('Multiplying complex number:',(1+1j)*(1-1j))

Multiplying complex number: (2+0j)

In [89]:
# Declaring the variable at the top first

In [90]:
a = 3 # a is variable name and 3 is an integer data type
b = 2 # b is variable name and 2 is an interger data type

In [91]:
# Arithmetic operation and assigning the result to a variable
total = a + b
diff = a - b
product = a * b
division = a / b
remainder = a % b
floor_division = a // b
exponential = a ** b

In [92]:
# I should have used sum instead of total but sum is a built-in function try to avoid overriding builtin functions
print(total) # if you don't label your print with some string, you never know from where is  the result is coming
print('a + b = ', total)
print('a - b = ', diff)
print('a * b = ', product)
print('a / b = ', division)
print('a % b = ', remainder)
print('a // b = ', floor_division)
print('a ** b = ', exponential)

5
a + b =  5
a - b =  1
a * b =  6
a / b =  1.5
a % b =  1
a // b =  1
a ** b =  9

In [93]:
# Declaring values and organizing them together
num_one = 3
num_two = 4

In [94]:
# Arithmetic operations
total = num_one + num_two
diff = num_two - num_one
product = num_one * num_two
div = num_two / num_two
remainder = num_two % num_one

In [95]:
# Printing values with label
print('total: ', total)
print('difference: ', diff)
print('product: ', product)
print('division: ', div)
print('remainder: ', remainder)

total:  7
difference:  1
product:  12
division:  1.0
remainder:  1

In [96]:
# Calculating area of a circle
radius = 10                                 # radius of a circle
area_of_circle = 3.14 * radius ** 2         # two * sign means exponent or power
print('Area of a circle:', area_of_circle)

Area of a circle: 314.0

In [97]:
# Calculating area of a rectangle
length = 10
width = 20
area_of_rectangle = length * width
print('Area of rectangle:', area_of_rectangle)

Area of rectangle: 200

In [98]:
# Calculating a weight of an object
mass = 75
gravity = 9.81
weight = mass * gravity
print(weight, 'N')

735.75 N

In [99]:
print(3 > 2)     # True, because 3 is greater than 2
print(3 >= 2)    # True, because 3 is greater than 2
print(3 < 2)     # False,  because 3 is greater than 2
print(2 < 3)     # True, because 2 is less than 3
print(2 <= 3)    # True, because 2 is less than 3
print(3 == 2)    # False, because 3 is not equal to 2
print(3 != 2)    # True, because 3 is not equal to 2
print(len('mango') == len('avocado'))  # False
print(len('mango') != len('avocado'))  # True
print(len('mango') < len('avocado'))   # True
print(len('milk') != len('meat'))      # False
print(len('milk') == len('meat'))      # True
print(len('tomato') == len('potato'))  # True
print(len('python') > len('dragon'))   # False

True
True
False
True
True
False
True
False
True
True
False
True
True
False

In [100]:
# Boolean comparison
print('True == True: ', True == True)
print('True == False: ', True == False)
print('False == False:', False == False)
print('True and True: ', True and True)
print('True or False:', True or False)

True == True:  True
True == False:  False
False == False: True
True and True:  True
True or False: True

In [101]:
# Another way comparison 
print('1 is 1', 1 is 1)                   # True - because the data values are the same
print('1 is not 2', 1 is not 2)           # True - because 1 is not 2
print('A in Asabeneh', 'A' in 'Asabeneh') # True - A found in the string
print('B in Asabeneh', 'B' in 'Asabeneh') # False -there is no uppercase B
print('coding' in 'coding for all') # True - because coding for all has the word coding
print('a in an:', 'a' in 'an')      # True
print('4 is 2 ** 2:', 4 is 2 ** 2)   # True

1 is 1 True
1 is not 2 True
A in Asabeneh True
B in Asabeneh False
True
a in an: True
4 is 2 ** 2: True

<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:8: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:8: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\Vaishnavi mane\AppData\Local\Temp\ipykernel_13384\4207222253.py:2: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('1 is 1', 1 is 1)                   # True - because the data values are the same
C:\Users\Vaishnavi mane\AppData\Local\Temp\ipykernel_13384\4207222253.py:3: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print('1 is not 2', 1 is not 2)           # True - because 1 is not 2
C:\Users\Vaishnavi mane\AppData\Local\Temp\ipykernel_13384\4207222253.py:8: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('4 is 2 ** 2:', 4 is 2 ** 2)   # True

In [102]:
print(3 > 2 and 4 > 3) # True - because both statements are true
print(3 > 2 and 4 < 3) # False - because the second statement is false
print(3 < 2 and 4 < 3) # False - because both statements are false
print(3 > 2 or 4 > 3)  # True - because both statements are true
print(3 > 2 or 4 < 3)  # True - because one of the statement is true
print(3 < 2 or 4 < 3)  # False - because both statements are false
print(not 3 > 2)     # False - because 3 > 2 is true, then not True gives False
print(not True)      # False - Negation, the not operator turns true to false
print(not False)     # True
print(not not True)  # True
print(not not False) # False

True
False
False
True
True
False
False
False
True
True
False

In [103]:
# 2 . Assignment operator

In [104]:
x = 2

In [105]:
x = x+ 2 # if you want to increment by 2
x

4

In [106]:
x += 2
x

6

In [107]:
x += 2
x

8

In [108]:
x += 2
x

10

In [109]:
x /= 2
x

5.0

In [110]:
x //=2

In [111]:
x

2.0

In [112]:
a , b = 5, 6 # you can assigned in line as well

In [113]:
a

5

In [114]:
b

6

In [115]:
# 3. unary operator

* unary means 1 || binary means 2
* here we are appying unary minus operator(-) on the operand ;
the value of a becomes -, which indicates it as a negative value.

In [116]:
n = 7 # negative
n

7

In [117]:
m = -(n)
m

-7

In [118]:
n

7

In [119]:
-n

-7

In [120]:
# 4. Relational operator

* we are using this operatoe or comparing

In [121]:
a = 5
b = 6

In [122]:
a<b

True

In [123]:
a>b

False

In [124]:

# a = b # we cannot use = operatro that means it is assingning

In [125]:
a == b

False

In [126]:
a != b

True

In [127]:
# hear if i chage b = 6
b = 5

In [128]:
a == b

True

In [129]:
a

5

In [130]:
b

5

In [131]:
a >= b

True

In [132]:
a <= b

True

In [133]:
a < b

False

In [134]:
a > b

False

In [135]:
b = 7

In [136]:
a != b

True

# LOGICAL OPERATOR
*  logical operator you need to understand about true & false table
![image.png](attachment:image.png)
- 3 importand part of logical operator is --> AND, OR, NOT

 * lets understand the truth table :- in truth table you can represent (true - 1 & false means -0)
![image.png](attachment:image.png)
![image.png](attachment:image.png)

In [137]:
a = 5
b = 4

In [138]:
a < 8 and b < 5 # refer to the truth table

True

In [139]:
a < 8 and b < 2

False

In [140]:
a < 8 or b<2

True

In [141]:
x = False
x

False

In [142]:
not x # you can reverse the operation

True