# Sets
1) Unordered & Unindexed collection of items. 
2) Set elements are unique. Duplicate elements are not allowed. 
3) Set elements are immutable (cannot be changed). 
4) Set itself is mutable. We can add or remove items from it.

# Set Creation

In [16]:
myset = {1,2,3,4,5} # Set of numbers
myset

{1, 2, 3, 4, 5}

In [17]:
len(myset) # Length of the set

5

In [18]:
my_set = {1,1,2,2,3,4,5,5} # Duplicate elements are not allowed
my_set

{1, 2, 3, 4, 5}

In [19]:
myset1 = {1.79,2.08,3.99,4.56,5.45} # Set of floats
myset1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [20]:
myset2 = {'vaishu','sangu','Abhi'} # Set of strings
myset2

{'Abhi', 'sangu', 'vaishu'}

In [21]:
myset3 = {10,20,"vaishu",(11,22,33)} #Mixed data types
myset3

{(11, 22, 33), 10, 20, 'vaishu'}

In [22]:
myset3= {10,20,"vaishu",[11,22,33]} # Set doesn't allow mutable data types
myset3

TypeError: unhashable type: 'list'

In [ ]:
myset4 = set() # Creat an empty set
print(type(myset4))

<class 'set'>

In [ ]:
my_set1 =set(('one' , 'two' , 'three' , 'four')) 
myset1

{1.79, 2.08, 3.99, 4.56, 5.45}

# Loop through a set

In [ ]:
myset = {'one','two','three','four','five','six','seven','eight'}

In [ ]:
for i in myset:
    print(i)

five
eight
two
one
four
six
three
seven

In [ ]:
for i in enumerate(myset):
    print(i)

(0, 'five')
(1, 'eight')
(2, 'two')
(3, 'one')
(4, 'four')
(5, 'six')
(6, 'three')
(7, 'seven')

# Set Membership

In [ ]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
'one' in myset # Check if 'one' is exist the set

True

In [ ]:
'ten' in myset # Check if 'ten' is exist the set

False

In [ ]:
if 'three' in myset: # Check if 'three' is exist in the set
    print('Three is present in the set')
else:
    print('Three is not present in the set')

Three is present in the set

In [ ]:
if 'eleven' in myset: # Check if 'eleven' is exist in the set
    print('Eleven is present in the set')
else:
    print('Eleven is not present in the set')

Eleven is not present in the set

# Add & Remove items

In [ ]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
myset.add('NINE') # Add item to set using add() method
myset

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [ ]:
myset.update(['TEN','ELEVEN','TWELVE']) # Add multiple items to set using update() method
myset

{'ELEVEN',
 'NINE',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [ ]:
myset.remove('NINE') # Remove item from set using remove() method
myset

{'ELEVEN',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [ ]:
myset.discard('TEN') # Remove item from set using discard() method
myset

{'ELEVEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [ ]:
myset.clear() # Delete all items from set using clear() method
myset

set()

In [23]:
del myset # Delete the set object
myset

NameError: name 'myset' is not defined

# Copy Set

In [24]:
myset = {'one', 'two','three','four','five','six','seven','eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [25]:
myset1 = myset # Create a reference to the set
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [26]:
id(myset), id(myset1) # The address of both myset & myset1 will be the same as they are pointing to the same object

(2220789418912, 2220789418912)

In [27]:
my_set = myset.copy() # Create a copy of the set
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [28]:
id(my_set) # The address of my_set will be different from myset & myset1 as it is a new object

2220789420032

In [29]:
myset.add('nine')
myset

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [30]:
myset1 # myset1 will be also imapacted as it is a reference to the same object

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [31]:
my_set # Copy of the set wan't be impacted as it is a new object

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

# Set Operation
 * Union

In [32]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
C = {8,9,10}

In [33]:
A|B # Union of A and B (All elements from both sets. NO duplicates)

{1, 2, 3, 4, 5, 6, 7, 8}

In [35]:
A.union(B) # Union of A and B

{1, 2, 3, 4, 5, 6, 7, 8}

In [36]:
A.union(B,C) # union of A,B and C

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}


""" 
Updates the set calling the update() method with union of A , B & C. 
For below example Set A will be updated with union of A,B & C. 
"""

In [38]:
A.update(B,C) 
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Intersection

In [39]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [40]:
A & B # Intersection of A and B (Common elements in both sets)

{4, 5}

In [42]:
A.intersection(B) #Intersection of A and B

{4, 5}

In [43]:
B - A # set of elements in B but not in A

{6, 7, 8}

In [44]:
B.difference(A)

{6, 7, 8}


""" 
Updates the set calling the difference_update() method with the difference of se 
For below example Set B will be updated with the difference of B & A. 
"""

In [45]:
B.difference_update(A) 
B

{6, 7, 8}

# Symmetric Difference

In [46]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [47]:
A ^ B # symmetric difference (set of elements in A or B but not in both)

{1, 2, 3, 6, 7, 8}

In [49]:
A .symmetric_difference(B) #systemic difference o sets

{1, 2, 3, 6, 7, 8}

 
""" 
Updates the set calling the symmetric_difference_update() method with the symmet 
For below example Set A will be updated with the symmetric difference of A & B. 
"""

In [50]:
A.symmetric_difference_update(B) 
A

{1, 2, 3, 6, 7, 8}

# Subset,Superset & Disjoint

In [51]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
C = {10,20,30,40}

In [52]:
B.issubset(A) # Set B is said to be the subset of A if all elements of B are in A

True

In [54]:
A.issuperset(B) # Set A is said to be the subset of B if all elements of A are in B

True

In [56]:
C.isdisjoint(A) # Set C is said to be disjoint with A if there are no common elements in both sets

True

In [57]:
B.isdisjoint(A) # Set B is said to be disjoint with A if there are no common elements in both sets

False

# Other Builtin functions

In [58]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [59]:
sum(A)

45

In [60]:
max(A)

9

In [61]:
min(A)

1

In [62]:
len(A)

9

In [64]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [66]:
D = sorted(A,reverse=True)
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [67]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]