# Tuples

1.  Tuple is similar to List except that the objects in tuple are immutable which means we cannot 
change the elements of a tuple once assigned. 
2. When we do not want to change the data over time, tuple is a preferred data type. 
3. Iterating over the elements of a tuple is faster compared to iterating over a list.

# Tuple Creation

In [2]:
tup1 = () #Empty tuple
tup1

()

In [12]:
print(type(tup1)) # print the type

<class 'tuple'>

In [3]:
tup2 = (10,30,60) # tuple of integers numbers
tup2

(10, 30, 60)

In [1]:
tup3 = (10.77,30.66,60.89) # tuple of float numbers
tup3

(10.77, 30.66, 60.89)

In [4]:
tup4 = ('one','two',"three") # tuple of strings
tup4

('one', 'two', 'three')

In [6]:
tup5 = ('vaishu',25,(50,100),(150,90)) # Nested tuple
tup5

('vaishu', 25, (50, 100), (150, 90))

In [8]:
tup6 = (100,'vaishu',17.765) # tuple of mixed data type
tup6

(100, 'vaishu', 17.765)

In [9]:
tup7 = ('vaishu',25,[50,100],[150,90],{'sangu','sapna'},(99,22,33))
tup7

('vaishu', 25, [50, 100], [150, 90], {'sangu', 'sapna'}, (99, 22, 33))

In [10]:
len(tup7) # length of list

6

# Tuple indexing

In [11]:
tup2[0] # Accessing first element of tuple

10

In [13]:
tup4[0] #retrieving first element of tuple

'one'

In [14]:
tup4[0][0] # Nested indexing-accessing first element of first element of tuple

'o'

In [15]:
tup4[-1] #last element of tuple

'three'

In [16]:
tup5[-1]# Accessing last element of tuple

(150, 90)

# Tuple Slicing

In [17]:
mytuple = ('one','two','three','four','five','six','seven','eight')

In [18]:
mytuple[0:3] # Return all iterm 0th to 3rd index location excluding the iterm

('one', 'two', 'three')

In [19]:
mytuple[2:5] # list all iterm 2nd to 5th index location excluding the iterm

('three', 'four', 'five')

In [20]:
mytuple[:3] # return first 3 iterm of tuple

('one', 'two', 'three')

In [21]:
mytuple[:2] # return first 2 iterm of tuple

('one', 'two')

In [22]:
mytuple[-3] # return last 3 iterm of tuple

'six'

In [23]:
mytuple[-1] # return last iterm of tuple

'eight'

In [24]:
mytuple[:] # return whole tuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

# Remove & Change items

In [25]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [26]:
del mytuple[0] # Tuple are immutable which means we can not delete the iterm of tuple

TypeError: 'tuple' object doesn't support item deletion

In [27]:
mytuple[0]=1 # Tuple are immutable which means we can not change the iterm of tuple

TypeError: 'tuple' object does not support item assignment

# Loop through a tuple

In [28]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [29]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [30]:
for i in enumerate(mytuple):
    print(i) # enumerate() function returns the index and value of the tuple

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

# Count

In [33]:
mytuple1 = ('one', 'two','three','four','one','two','three')

In [34]:
mytuple1.count('one') # Number of times 'one' occurs in the tuple

2

In [36]:
mytuple1.count('two') #Occurence of 'two' in the tuple

2

In [37]:
mytuple1.count('four') # occurence of 'four' in the tuple

1

# Tuple Membership

In [38]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [39]:
'one' in mytuple #Check if 'one' is exists in the tuple

True

In [40]:
'ten' in mytuple #Check if 'ten' is exists in the tuple

False

In [42]:
if 'three' in mytuple: #check if 'three' is exists in the tuple
    print('Three is present in the tuple')
else:
    print('There is not present in tuple')

Three is present in the tuple

In [43]:
if 'eleven' in mytuple: #check if 'eleven' is exists in the tuple
    print('Eleven is present in the tuple')
else:
    print('Eleven is not present in tuple')

Eleven is not present in tuple

# index Position

In [44]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [45]:
mytuple.index('one') # Index of first element equal to 'one'

0

In [46]:
mytuple.index('five') # Index of first element equal to 'five'

4

In [47]:
mytuple1

('one', 'two', 'three', 'four', 'one', 'two', 'three')

In [48]:
mytuple1.index('one') # Index of first element equal to 'one'

0

# Sorting

In [49]:
mytuple2 = (43,67,99,12,6,90,67)

In [50]:
sorted(mytuple2) # Return a new sorted and does not change the original tuple

[6, 12, 43, 67, 67, 90, 99]

In [51]:
sorted(mytuple2, reverse=True) # sort in descending order

[99, 90, 67, 67, 43, 12, 6]